<!-- Para crear un menu sidenav se necesita esta etiqueta
padre y las 2 hijas:
    * mat-sidenav (atributo opened)
    * mat-sidenav-content
 -->
<mat-sidenav-container>

    <!-- Elemento 1 de 2 de un sidenav desplegable -->
    <mat-sidenav #menu role="navigation">

        <!-- Componente -->
        <app-menu-lista (menuToggle)="menu.toggle()"></app-menu-lista>

    </mat-sidenav>

    <!-- Elemento 2 de 2 de un sidenav desplegable -->
    <mat-sidenav-content>

        <!-- Componente -->
        <app-barra (menuToggle)="menu.toggle()"></app-barra>

        <main>
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>
